* {
    scrollbar-width: thin;
    scrollbar-color: var(--super-darker-color) #00000000;
}

.container::-webkit-scrollbar {
    width: 10px;
}

.container::-webkit-scrollbar-track, .container::-webkit-scrollbar-thumb {
    background-color: #00000000; 
    border-radius: 5px;
}

.container::-webkit-scrollbar-thumb:hover {
    background-color: #00000000;
}
