.picture {
    width: 20%;
    height: 170px;
    max-width: 250px;
    min-width: 200px;

    margin: 0;

    position: relative;

    overflow: hidden;
}

.picture, .picture div {
    border-radius: 10px;
    
    background-color: var(--dark-color);
    box-shadow: 0px 1px 5px 0px var(--light-color);
}

.picture div {
    width: 90%;
    height: 120px;

    margin-right: auto;
    margin-left: auto;
    margin-top: 12px;

    display: block;
    position: relative;
}

.picture p {
    position: absolute;

    text-align: center;

    margin: 0;

    left: 50%;
    bottom: 0;

    transform: translate(-50%, -50%);
}

.picture aside {
    position: absolute;

    width: 8%;
    height: 95%;

    top: 50%;
    left: 100%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;

    background-color: transparent;
}

.picure aside img {
    margin: 0;
}

.picture:hover, .picture:hover div {
    cursor: pointer;

    animation: hover-picture-animation var(--hover-animation-time) var(--hover-animation-bezier);
    box-shadow: 0px 1px 5px 0px var(--half-light-blue-color);
}

.picture:hover p {
    animation: hover-text-animation var(--hover-animation-time) var(--hover-animation-bezier);
    color: var(--half-light-blue-color);
}

.picture:hover aside {
    animation: tools-show-up-hover var(--hover-animation-time) var(--hover-animation-bezier);
    left: 0%;
}

@keyframes hover-picture-animation {
    from {
        box-shadow: 0px 1px 5px 0px var(--light-color);
    }

    to {
        box-shadow: 0px 1px 5px 0px var(--half-light-blue-color);
    }
}

@keyframes hover-text-animation {
    from {
        color: var(--light-color);
    }

    to {
        color: var(--half-light-blue-color);
    }
}

@keyframes tools-show-up-hover {
    from {
        left: -100%
    }

    to {
        left: 0%
    }
}